@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    margin: 0px;
    background-color: black;
}

h1{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 10px;
}

h2{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

h3{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 10px;
}

h5{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
}

.transpcontent{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 90%;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.miniabtn{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    padding: 0px;
    font-weight: 900;
}

.miniabtn:hover{
    color: #646464a5;
}

.mySlides{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    display: none;
    flex-wrap: wrap;
    animation: fadeInAnimation ease 1s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;   
}

.logo{
    text-align: center;
    margin: 10px;
}
.logoimg{
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 10px;
    border-radius: 30px;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 10px;
    border: 10px;
    border-radius: 20px;

  }
  
  li a:hover:not(.active) {
    animation: fadeInAnimation ease 1s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;   
    background-color: #000000a5;
    color: white;
  }
  
  .active {
    border: 10px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    margin: 10px;
  }
  .nav{
    width: 100%;
    border-radius: 10px;
  }

.slider{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 30px;
    height: 400px;
    flex-wrap: wrap;
}
.content{
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 20px;
    border-radius: 30px;
}

.topart{
    display: flex;
    background-image: url(./src/img/art_back.png);
    background-size: 100%;
    background-position-x: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    margin: 20px;
    border-radius: 30px;
    height: 200px;
}

.topart h1{
    font-size: 50px;
}

.txt{
    text-align: justify;
    margin: 10px;
}

.artbutton{
    background-color: #000000;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 30px;
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-weight: 900;
    border: 0px;
    text-decoration: none
}

.artbutton:hover{
    background-color: #000000a5;    
}

.article{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.txt-cent{
    text-align: center;
    margin: 10px;
}


.sliderbutton{
    background-color: transparent;
    border: 0px;
}

.sliderbutton img{
    width: 30px;
}

.artimg{
    margin: 10px;
    height: 100px;
}

.title{
    margin: 10px;
    width: 100%;
}

.icon{
    width: 100px;
    height: 100px;

}
.transbtn{
    background-color: transparent;
    border: 0px;
    margin: 10px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.minia{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000000; 
    border-radius: 30px;
    color: white;
    padding: 10px;
    margin: 10px;
    background-size: 100%;
    background-repeat: space;
    height: auto;
    width: 40%;
    animation: fadeInAnimation ease 1s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;   
    border-style: solid;
    border-width: 6px;

}

.minia .artimg{
    height: 250px;
    image-rendering: optimizeQuality;
    object-fit: cover;
    border-radius: 30px;
}
h6{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    
    margin: 10px;
}
p{
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 10px;

}
a{
    
    margin: 10px;
}

.minia:hover{
    border-style: solid;
    border-width: 6px;
    border-color: #9900ff;
}

.minialogo{
    margin: 10px;
    width: 40%;
}

.minia  h3{
    margin-top: 0px;
}

.miniaimg{
    width: 99%;
    margin: 10px;
    border-radius: 20px;
}

.content .logoimg{
    width: 30%;
    margin: 10px;
}
.imgwxyz{
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    margin: 20px;
    height: auto;
    border-radius: 30px;
}

.imgwxyz .artimg{
    margin: 10px;
    width: 300px;
    height: auto;
    border-radius: 20px;
}

@keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } }

@media only screen and (max-width: 896px) {

    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }

    .topart h1{
        font-size: 27px;
        margin: 0px;
    }

    .minia{
        width: 90%;
        height: auto;

    }



    .minia .artimg{
        height: 250px;
        image-rendering: optimizeQuality;
        object-fit: cover;
    }

    .sliderbutton img{
        width: 20px;
    }

    .transpcontent{
        width: 100%;
    }
    .mySlides{
        width: 80%;
    }
    
    .content .logoimg{
        width: 40%;
    }
}
